---
layout: default
---

<div class="pg-index__row">
  <section class="section-box section-box--recentposts">
    <h4>Latest Posts</h4>
    <div class="section-box__content article-list">
      {% for post in paginator.posts %}
      <article class="post-item">
        <header class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-item__title">{{ post.title }}</a>
        </header>
        <p class="article__content">{{ post.content | strip_html | truncatewords:75}}</p>
        <footer class="article__meta post-item__meta">
          <span class="tags">
            {% for tag in post.tags %}
            <a href="/tags/{{ tag }}"><i class="fa fa-tag"></i><span>{{ tag }}</span></a>
            {% endfor %}
          </span>
          <span class="date">
            <i class="fa fa-calendar"></i>
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          </span>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</div>

{% if paginator.total_pages > 1 %}
<footer class="more"><a href="/archives" class="btn">Read More</a></footer>
{% endif %}
