<header id="hdw" row="banner">
  <div id="hd" class="cf">
    <nav class="site-nav cf"><a href="/">Home</a><a href="/archives">Archives</a><a href="/about">About</a></nav>
    <form action="http://google.com/search" method="get" class="search">
      <input type="hidden" name="q" value="site:{{site.url | remove_first:'http://'}}">
      <input type="text" name="q" placeholder="Search" class="search__input">
    </form>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rss"></a>
  </div>
</header>
