---
layout: default
---
<div id="post">
{% include post_header.html %}
{{ content }}
</div>

<br>
<!-- JiaThis Button BEGIN -->
<!--
<div class="jiathis_style">
<span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_fb">Facebook</a>
<a class="jiathis_button_twitter">Twitter</a>
<a class="jiathis_button_linkedin">LinkedIn</a>
<a class="jiathis_button_pocket">Pocket</a>
<a class="jiathis_button_delicious">Delicious</a>
<a class="jiathis_button_evernote">EverNote</a>
<a class="jiathis_button_reddit">Reddit</a>
<a class="jiathis_button_googleplus">Google+</a>
<a class="jiathis_button_weixin">微信</a>
<a class="jiathis_button_douban">豆瓣</a>
<a class="jiathis_button_renren">人人网</a>
<a class="jiathis_button_tsina">新浪微博</a>

<a href="http://www.jiathis.com/share?uid=1958092" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
    data_track_clickback:true,
    summary:"",
    shortUrl:false,
    hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1958092" charset="utf-8"></script>
-->
<!-- JiaThis Button END -->
<br>

<div id="related">
  <h2>Random Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% include disqus.html %}
